body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.timer-container {
  text-align: center;
  background-color: #999;
  padding: 30px;
  border-radius: 10px;

}

#timer {
  font-size: 40px;
  margin: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
